.cursor {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #000;
    transform: translate(-50%, -50%);
    transition: width .25s ease, height .25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    @include respond-to('mobile') {
        display: none;
    }
}

.cursor.click{
    width: 6px;
    height: 6px;
    opacity: .2;
}
.cursor-point {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    background: #000;
    transform: translate(-50%, -50%);
    transition: width .25s ease, height .25s ease, background .25s ease;
    pointer-events: none;
    @include respond-to('mobile') {
        display: none;
    }
}
.cursor-point.click {
    width: 15px;
    height: 15px;
    background: transparent;
    border: 2px solid #000;
    opacity: .4;
}

.shadow{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
    border-radius: 50%;
    transition: all .5s ease;
}

.shadow.active{
    box-shadow: 0 0 0 0 rgba(0,0,0,.1);
}
